body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    background-color: rgba(132, 157, 143, 1);
}
body> input[type="radio"] {
    display: none;
}
h2 {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}
h3 {
    font-size: 24px;
    color: black;
    line-height: 30px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: rgba(255, 188, 158, 1);
}
a:active {
    color: rgba(255, 188, 158, 1);
}
input[type="text"]:hover {
    border: 1px solid #c7c6c5; 
}
input[type="text"]:focus {
    position: relative;
    border: 1px solid #8fbdec;
}
.site-wrapper {
    min-width: 900px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
    box-sizing: border-box;
}
.site-wrapper::before,
.site-wrapper::after {
    content: "";
    visibility: hidden;
}
.site-wrapper::before {
    background-image: url(../img/slide2.png);
}
.site-wrapper::after {
    background-image: url(../img/slide3.png);
}
.content-wrapper {
    width: 100%;
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.btn {
    padding: 10px;
    border-radius: 33px;
    box-shadow: 0 1px 1px 0px black;
    color: #ffffff;
    background-color: rgba(238, 95, 63, 1);
}
.btn:hover {
    color: #ffffff;
    background-color: rgba(241, 124, 100, 1);
}
.btn:active {
    box-shadow: inset 0 1px 2px 1px black;
}
/* header */
.main-header {
    margin-left: 2.3%;
    margin-right: 2.3%;
}
.logo-container {
    position: relative;
}
.primary-logo {
    position: absolute;
    top: 10px;
    left: -5px;
}
.primary-menu-block {
    float: left;
    margin-top: 30px;
    margin-left: 162px;
    font-size: 0;
}

.primary-menu-item {
    position: relative;
    font-size: 16px;
    line-height: 18px;
}
.underline {
    position: relative;
    background-color: none;
}
.underline::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: -2px;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 1px;
}
.primary-menu-item a {
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 15px;
}
.primary-menu-item a:hover {
    color: black;
    background-color: white;
}
.primary-menu-item a:active {
    box-shadow: inset 0px 1px 2px 1px;
}
.primary-menu-item:hover .sub-menu {
   display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    top: 10px;
    padding-top: 20px;
    z-index: 10;
}
.sub-menu ul {
    width: 145px;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 0;
    line-height: 0;
    border-radius: 5px;
    background-color: white;
}
.sub-menu li {
    display: block;
}
.sub-menu a {
    display: block;
    padding: 7px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 16px;
    border-radius: 0;
    color: black;
}
.sub-menu li:nth-child(n+2) a:hover {
    background-color: #fbded7;
}
.sub-menu a:active {
    background-color: #f6b5a5;
    box-shadow: none;
}
.sub-menu li:nth-child(2) a{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.header-right-top {
    float: right;
    margin-top: 23px;
}
.header-top {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
    background-color: rgba(161, 181, 170, 0.5);
}
.header-top:last-child {
    margin-right: 0;
}
.search {
    position: relative;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.search:hover .search-modal {
    display: block;
}
.search-modal {
    display: none;
    position: absolute;
    top: 20px;
    padding-top: 30px;
    left: -350px;
}
.search-modal div {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.search-modal input {
    width: 340px;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 3px;
}
.search-modal label {
    visibility: hidden;
    position: absolute;
    font-size: 11px;
    line-height: 13px;
    left: 20px;
    top: 35px;
    color: #8fbdec;
}
.search-modal input:focus~label {
    visibility: visible;
}
.search-modal input:focus::-moz-placeholder {
    color: white;
}
.search-modal input:focus::-webkit-input-placeholder {
    color: white;
}
.search-icon {
    width: 33px;
    height: 33px;
    background-image: url(../img/icon/sprites.png);
    background-repeat: no-repeat;
    background-position: -526px 7px;
}
.search-icon:hover {
    width: 33px;
    min-height: 33px;
    border-radius: 50%;
    background-color: white;
    background-image: url(../img/icon/sprites.png);
    background-repeat: no-repeat;
    background-position: -594px 5px;
}
.login {
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 44px;
    padding-right: 16px;
    border-radius: 15px;
    background-image: url(../img/icon/sprites.png);
    background-repeat: no-repeat;
    background-position: -262px 5px;
}
.login:hover {
    color: black;
    background-color: white;
    background-image: url(../img/icon/sprites.png);
    background-repeat: no-repeat;
    background-position: -391px 3px;
}
.login:hover .login-modal {
    display: block;
}
.login-modal {
    display: none;
    position: absolute;
    top: 0px;
    padding-top: 35px;
    left: -195px;
    z-index: 1;
}
.login-modal-item {
    width: 275px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0;
    padding-top: 0;
}
.login-modal input {
    width: 240px;
    padding: 5px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.login-modal-item div {
    position: relative;
}
.login-modal label {
    visibility: hidden;
    position: absolute;
    font-size: 11px;
    line-height: 13px;
    left: 5px;
    top: 5px;
    color: #8fbdec;
}
.login-modal input:focus~label {
    visibility: visible;
}
.login-modal input:focus::-moz-placeholder {
    color: white;
}
.login-modal input:focus::-webkit-input-placeholder {
    color: white;
}
.login-modal a {
    padding-left: 20px;
    color: #000000;
}
.login-modal button {
    float: left;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}
.crate {
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 43px;
    padding-right: 34px;
    border-radius: 15px;
    background-image: url(../img/icon/sprites.png);
    background-repeat: no-repeat;
    background-position: 14px 3px;
}

/* main */
.main-wrapper {
    margin-left: 2.3%;
    margin-right: 2.3%;
}
.main-right-top {
    float: right;
    font-weight: bold;
}
.main-right-top p {
    padding: 0;
    margin-top: 17px;
    margin-bottom: 4px;
    line-height:16px;
    font-size: 14px;
    text-align: right;
}
.main-right-top span {
    font-size: 22px;
    line-height: 24px;
}
.slider {
    position: relative;
    padding-top: 273px;
    margin-bottom: 52px;
    text-align: center;
    color: #ffffff;
    clear: right;
}
.slide {
    display: none; 
}
.slider-title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 60px;
    line-height: 60.35px;
}
.slider-btn {
    padding: 11px 40px;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    border-radius: 32px;
    vertical-align: top;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 20;

  font-size: 0;
}
.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
    display: block;
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
    background-color: #ffffff;
}
#btn-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url(../img/slide1.png);
    
}
#btn-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url(../img/slide2.png);
    
}
#btn-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url(../img/slide3.png);
   
}
.two-colon {
    float: left;
    width: 48.85%;
    min-height: 230px;
    margin-bottom: 39px;
    padding: 20px;
    padding-top: 0;
    border-radius: 15px;
    box-sizing: border-box;
}
.two-colon h2,p {
    clear: both;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.two-colon p {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
.raspbery {
    background-image: url(../img/raspberry.png);
    background-repeat: no-repeat;
}
.chokolate {
    margin-left: 2.3%;
    background-image: url(../img/chokolate.png);
    background-repeat: no-repeat;
}
.gratis-btn {
    float: right;
    margin-top: 44px;
    padding: 10px;
    padding-left: 22px;
    padding-right: 23px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.products {
    width: 100%;
    box-sizing: border-box;
}
.product {
    position: relative;
    width: 22.2%;
    float: left;
    margin-left: 2.2%;
    margin-bottom: 42px;
    box-sizing: border-box;
    text-align: center;
}
.product img {
    margin-bottom: 5px;
}
.product:hover .product-hover {
    display: block;
}
.product-hover {
    display: none;
    position: absolute;
    left: -13px;
    top: -5px;
    width: 110%;
    height: 405px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 10;
}
.speed-vision-btn {
    display: inline-block;
    margin-top: 341px;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 20px;
    font-weight: bold;
    text-align:inherit;
}
.product:first-child {
    margin-left: 2.3%;
}
.product:nth-child(4n+5) {
    margin-left: 2.3%;
}
.product:nth-child(4n+4) {
    margin-right: 0;
}
.product:nth-child(4n+1) {
    clear: both;
}
.main-content .product::before {
    content: "";
    position: absolute;
    left: 0;
    width: 61px;
    height: 61px;
    background-image: url(../img/icon/sprites.png);
    background-position: -578px -50px;
}

.product a:nth-child(4) {
    display: inline;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(255 ,255, 255, 0.2);
}
.product:hover a:nth-child(4) {
    display: inline;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(255 ,255, 255, 0);
}
.product-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    position: absolute;
    top: 210px;
}
.product-price span {
    font-size: 30px;
    line-height: 45px;
    margin-left: 35px;
}
.product-price::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 79px;
    width: 30px;
    height: 37px;
    background-image: url(../img/icon/rur.svg);
}
.product-description {
    width: 100%;
    margin-bottom: 40px;
    padding-top: 22px;
    padding-bottom: 5px;
    border-radius: 15px;
    background-image: url(../img/wafer.jpg);
    box-sizing: border-box;
}
.product-description div {
    float: left;
    width: 50%;
}
.product-description h3 {
    margin: 0;
    margin-bottom: 22px;
    padding-left: 20px;
    font-size: 24px;
    font-weight: medium;
    line-height: 30px;
    
}
.product-description-left p {
    position: relative;
    margin: 0;
    margin-left: 74px;
    margin-top: 0px;
    margin-bottom: 22px;
    color: black;
}
.product-description-right {
    padding-right: 17px;
    box-sizing: border-box;
}
.product-description-left {
    padding-right: 15px;
    box-sizing: border-box;    
}
.product-description-right p {
    position: relative;
    margin: 0;
    margin-left: 70px;
    margin-top: 0px;
    margin-bottom: 21px;
    color: black;
}
.product-icon {
    position: absolute;
    top: -10px;
    left: -55px;
    width: 49px;
    height: 49px;
}
.product-icon-icecream {
    background-image: url(../img/icon/sprites.png);
    background-position: -100px -50px;
}
.product-icon-leaf {
    background-image: url(../img/icon/sprites.png);
    background-position: -201px -51px;
}
.product-icon-cow {
    background-image: url(../img/icon/sprites.png);
    background-position: -1px -49px;
}
.product-icon-thermometer {
    background-image: url(../img/icon/sprites.png);
    background-position: -300px -50px;
}
.information {
    margin-bottom: 29px;
}
.blog {
    min-height: 220px;
    background-image: url(../img/strawberry.jpg);
    background-repeat: no-repeat;
    color: black;
}
.subscribe {
    padding: 0;
}
.subscribe-cover {
    display: inline-block;
    width: 98.5%;
    min-height: 210px;
    margin-left: 0.8%;
    margin-top: 1%;
    padding-left: 22px;
    padding-right: 15px;
    border-radius: 15px;
    background-color: rgba(248, 247, 244, 1);
    box-sizing: border-box;
}
.blog a {
    display: inline-block;
    width: 300px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
.blog a:hover {
    color: rgba(232, 77, 55, 1);
}
.blog a:active {
    color: rgba(232, 77, 55, 1);
}
.blog p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 22px;
    margin-bottom: 5px;
}
.subscribe {
    position: relative;
    margin-left: 2.2%;
    background-image: url(../img/post.png);
    background-repeat: no-repeat;
}
.subscribe p {
    margin-top: 27px;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 22px;
    color: black;
}
.subscribe input {
    width: 70.5%;
    min-height: 40px;
    border-radius: 5px;
}
.subscribe label {
    position: absolute;
    color: #cccccc;
    left: 40px;
    top: 145px;
}
.subscribe input:focus {
    border: 1px solid #8fbdec; 
}
.subscribe input:hover {
    border: 1px solid #c7c6c5;
}
.subscribe input:focus~label {
    top: 120px;
    left: 25px;
    font-size: 11px;
    line-height: 13px;
    color: #8fbdec;
}
.subscribe button {
    margin-left: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    border: none;
    font-weight: bold;
}
.feedback {
    display: none;
    position: fixed;
    z-index: 10;
    width: 480px;
    height: 445px;
    padding: 25px;
    top: 30%;
    left: 25%;
    border-radius: 10px;
    background-color: #f8f7f4;
    color: black;
    box-sizing: border-box;
}
.feedback p {
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 28px;
}
.feedback input {
    display: block;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.feedback input:nth-child(5) {
    width: 400px;
    height: 150px;
}
.feedback label {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: -15px;
    font-size: 11px;
    line-height: 13px;
    color: #8fbdec;
}
.feedback-input {
    position: relative;
}
.feedback-input input:focus~label {
   visibility: visible;
    
}
.feedback-input textarea:focus~label {
    visibility: visible;
}
.feedback-input input:focus::-moz-placeholder {
    color: white;
}
.feedback-input input:focus::-webkit-input-placeholder {
    color: white;
}
.feedback-input textarea:focus::-moz-placeholder {
    color: white;
}
.feedback-input textarea:focus::-webkit-input-placeholder {
    color: white;
}
.feedback-open {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    float: right;
    border: none;
}
.feedback-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px;
    border: none;
}
.feedback-close::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 1px;
    /*height: 1px;*/
    border: 1px solid #000000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.feedback-close::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 1px;
    border: 1px solid #000000;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
@-webkit-keyframes vortex {
    0% {
        -webkit-transform: rotate(0deg) translateX(600px);
                transform: rotate(0deg) translateX(600px);
    }
    10% {
        -webkit-transform: rotate(36deg) translateX(540px);
                transform: rotate(36deg) translateX(540px);
    }
    20% {
        -webkit-transform: rotate(72deg) translateX(480px);
                transform: rotate(72deg) translateX(480px);
    }
    30% {
        -webkit-transform: rotate(108deg) translateX(420px);
                transform: rotate(108deg) translateX(420px);
    }
    40% {
        -webkit-transform: rotate(144deg) translateX(360px);
                transform: rotate(144deg) translateX(360px);
    }
    50% {
        -webkit-transform: rotate(180deg) translateX(300px);
                transform: rotate(180deg) translateX(300px);
    }
    60% {
        -webkit-transform: rotate(216deg) translateX(240px);
                transform: rotate(216deg) translateX(240px);
    }
    70% {
        -webkit-transform: rotate(252deg) translateX(180px);
                transform: rotate(252deg) translateX(180px);
    }
    80% {
        -webkit-transform: rotate(288deg) translateX(120px);
                transform: rotate(288deg) translateX(120px);
    }
    90% {
        -webkit-transform: rotate(324deg) translateX(60px);
                transform: rotate(324deg) translateX(60px);
    }
    100% {
        -webkit-transform: rotate(360deg) translateX(0px);
                transform: rotate(360deg) translateX(0px);
    }
}
@keyframes vortex {
    0% {
        -webkit-transform: rotate(0deg) translateX(600px);
                transform: rotate(0deg) translateX(600px);
    }
    10% {
        -webkit-transform: rotate(36deg) translateX(540px);
                transform: rotate(36deg) translateX(540px);
    }
    20% {
        -webkit-transform: rotate(72deg) translateX(480px);
                transform: rotate(72deg) translateX(480px);
    }
    30% {
        -webkit-transform: rotate(108deg) translateX(420px);
                transform: rotate(108deg) translateX(420px);
    }
    40% {
        -webkit-transform: rotate(144deg) translateX(360px);
                transform: rotate(144deg) translateX(360px);
    }
    50% {
        -webkit-transform: rotate(180deg) translateX(300px);
                transform: rotate(180deg) translateX(300px);
    }
    60% {
        -webkit-transform: rotate(216deg) translateX(240px);
                transform: rotate(216deg) translateX(240px);
    }
    70% {
        -webkit-transform: rotate(252deg) translateX(180px);
                transform: rotate(252deg) translateX(180px);
    }
    80% {
        -webkit-transform: rotate(288deg) translateX(120px);
                transform: rotate(288deg) translateX(120px);
    }
    90% {
        -webkit-transform: rotate(324deg) translateX(60px);
                transform: rotate(324deg) translateX(60px);
    }
    100% {
        -webkit-transform: rotate(360deg) translateX(0px);
                transform: rotate(360deg) translateX(0px);
    }
}
.feedback-show {
    -webkit-animation-name: vortex;
            animation-name: vortex;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    display: block;
}
@-webkit-keyframes error {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}
@keyframes error {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}
.feedback-error {
    -webkit-animation-name: error;
            animation-name: error;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}
.where-seek-us iframe {
    position: relative;
    z-index: 5;
}
.where-seek-us {
    position: relative;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
}
.contacts {
    position: absolute;
    z-index: 5;
    top: 62px;
    right: 0px;
    width: 302px;
    margin-right: 27px;
    margin-bottom: 60px;
    padding-top: 30px;
    border-radius: 15px;
    color: black;
    background-color: #ffffff;
}
.contacts p {
    margin: 0;
    margin-left: 25px;
    font-size: 14px;
    line-height: 20px;
}
.contact-adress {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact-phone {
    display: block;
    margin-top: 2px;
    margin-left: 25px;
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.contacts a {
    display: inline-block;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
    padding: 11px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.map-marker {
    position: absolute;
    width: 218px;
    height: 139px;
    top: 139px;
    left: 266px;
    background-image: url(../img/icon/sprites.png);
    background-position: -415px -120px;
    background-repeat: no-repeat;
}
.footer-bottom {
    padding-left: 2.3%;
    padding-right: 2.3%;
    clear: both;
}
.social {
    float: left;
    margin-top: 30px;
}
.social a {
    display: inline-block;
    width: 35px;
    height: 35px;
}
.social-icons {
    width: 30px;
    height: 30px;
    margin-right: 9px;
    border: 4px solid #c2cec7;
    border-radius: 50%;
    background-color: #849d8f;
    background-repeat: no-repeat;
}
.social-icons:active {
    box-shadow: inset 0px 1px 1px 0 black;
}
.twitter {
    background-image: url(../img/icon/sprites.png);
    background-position: -216px -117px;
}
.twitter:hover {
    background-image: url(../img/icon/sprites.png);
    background-position: -267px -119px;
}
.instagram {
    background-image: url(../img/icon/sprites.png);
    background-position: -116px -117px;
}
.instagram:hover {
    background-image: url(../img/icon/sprites.png);
    background-position: -167px -116px;
}
.facebook {
    background-image: url(../img/icon/sprites.png);
    background-position: -17px -114px;
}
.facebook:hover {
    background-image: url(../img/icon/sprites.png);
    background-position: -66px -116px;
}
.vkontakte {
    background-image: url(../img/icon/sprites.png);
    background-position: -317px -117px;
}
.vkontakte:hover {
    background-image: url(../img/icon/sprites.png);
    background-position: -368px -117px;
}
.for-supplier {
    float: left;
    font-size: 13px;
    margin-top: 25px;
    margin-left: 19.8%;
}
.for-supplier-left {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
.for-supplier-left::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 5px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon/sprites.png);
    background-position: -531px -82px;
    background-repeat: no-repeat;
}
.for-supplier-right {
    display: inline-block;
}
.copyright {
    float: right;
    font-size: 12px;
}
.copyright a {
    display: inline-block;
    margin-top: 13px;
    margin-left: 5px;
    margin-bottom: 0;
}
.copyright p {
    margin-top: 0;
}
/*catalog*/
.catalog-top {
    margin-bottom: 0;
}
.catalog-btn {
    background-color: rgba(239, 100, 65, 1);
}
.primary-menu-item .catalog-btn:hover {
    background-color: rgba(239, 100, 65, 1);
    color: #ffffff;
}
.catalog-crate {
    padding-left: 43px;
    padding-right: 15px;
    background-image: url(../img/icon/sprites.png);
    background-repeat: no-repeat;
    background-position: -112px 4px;
}
.catalog-crate:hover {
    background-color: white;
    color: black;
}
.catalog-crate:hover .crate-no-visible {
    display: block;
}
.crate-no-visible {
    display: none;
    position: absolute;
    left: -430px;
    width: 540px;
    height: 230px;
    padding-top: 15px;
    z-index: 2;
}
.crate-popup {
    width: 540px;
    padding: 10px;
    padding-top: 15px;
    border-radius: 10px;
    font-size: 13px;
    line-height: 16px;
    background-color: #f8f7f4;
    color: black;
    box-sizing: border-box;
}
.crate-popup table {
    margin-bottom: 10px;
}
.crate-popup .table-image1 {
    width: 33px;
    height: 33px;
    background-image: url(../img/icon/sprites.png);
    background-position: -415px -65px;
    background-repeat: no-repeat;
}
.crate-popup .table-image2 {
    width: 33px;
    height: 33px;
    background-image: url(../img/icon/sprites.png);
    background-position: -468px -65px;
    background-repeat: no-repeat;
}
.crate-popup td:nth-child(3) {
    width: 270px;
}
.crate-popup td:nth-child(4) {
    width: 120px;
}
.crate-popup td:nth-child(5) {
    width: 70px;
}
crate-popup td {
    padding-left: 15px;
    padding-right: 15px;
}
.crate-popup table {
    width: 100%;
}
.crate-popup span {
    color: #cccccc;
}
.crate-popup .stripe {
    height: 1px;
    border-bottom: 1px solid #cccccc;
}
.crate-popup button {
    margin-bottom: 20px;
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
}
.crate-popup-right {
    float: right;
}
.crate-popup-right p {
    margin-bottom: 15px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}
.catalog-wrapper {
    margin-left: 2.3%;
    margin-right: 2.3%;
}
.catalog-title {
    margin-top: 0;
    margin-bottom: 23px;
}
.breadcrumbs {
    float: left;
    margin-top: 42px;
    font-size: 14px;
    line-height: 16px;
}
.breadcrumbs a {
    padding-right: 5px;
}
.catalog-select {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.popularity:hover {
    background-color: #ffffff;
    color: #000000;
}
.filter-sort-type {
    padding: 7px 30px 7px 13px;
    margin-top: 25px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.2) url("../img/marker.png") no-repeat scroll right 15px top 50%;
    border: medium none;
    border-radius: 40px;
    color: inherit;
    cursor: pointer;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
}
select::-ms-expand { 
display: none; 
}
.filter-sort-type option {
    background-color: #ffffff;
    color: #000000;
}
.filter-sort-type:hover {
    background-color: #ffffff;
}
.sort {
    display: inline-block;
    position: relative;
}
.sort-triangle {
    position: absolute;
    right: 25px;
    top: 42px;
    width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid white;
    z-index: 10;
}
.catalog-select p {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 16px;
}
.catalog-select-item {
    position: relative;
    display: inline-block;
    padding: 6px;
    border-radius: 20px;
    background-color: rgba(169, 185, 175, 0.5);
}
.catalog-sort-item {
    position: relative;
    padding-left: 15px;
    padding-right: 50px;
    margin-right: 10px;
}
.catalog-price {
    padding-right: 25px; 
}
.catalog-price::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}
.catalog-price::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 65px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}
.price-line {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 40px;
    background-color: rgba(255, 255, 255, 0.8);
}
.price-line:after {
    content: "";
    position: absolute;
    left: 50px;
    height: 5px;
    width: 100px;
    background-color: #ffffff;
    z-index: 10;
}
.catalog-select-item input[type="checkbox"]{
    display: none;
}
.catalog-select-item input[type="radio"]{
    display: none;
}
.catalog-select-item label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}
.catalog-select-item .fatness-label:nth-child(1) {
    padding-left: 40px;
}
.catalog-select-item .fatness-label:nth-child(2) {
    padding-left: 47px;
}
.catalog-select-item .fatness-label:nth-child(3) {
    padding-left: 47px;
}
.catalog-select-item .fatness-label:nth-child(4) {
    padding-left: 45px;
    padding-right: 10px;
}
.fatness-indicator {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 1);
}
.catalog-select-item input[type="radio"]:checked+.fatness-indicator::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}
.catalog-select-item input[type="checkbox"] +
.checkbox-indicator {
     position: absolute;
    left: 7px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 1);
}
.catalog-select-item input[type="checkbox"]:checked+.checkbox-indicator::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    width: 15px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
}
.catalog-select-item input[type="checkbox"]:checked+.checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 1px;
    width: 10px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
}
.checkbox-indicator::before {
    -webkit-transform: rotate(115deg);
            transform: rotate(115deg)
}
.checkbox-indicator::after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg)
}
.catalog-price {
    margin-left: 0px;
}
.catalog-price {
    width: 190px;
    min-height: 22px;
}
.catalog-fatness {
    margin-left: 10px;
}
.catalog-fatness label {
    padding-left: 50px;
}
.catalog-fill {
    margin-top: 8px;
    margin-bottom: 42px;
}
.catalog-fill label {
    padding-right: 17px;
}
.catalog-fill button {
    border: 1px solid white;
    margin-left: 7px;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}
.catalog-fill button:hover {
    background-color: white;
    color: black;
}
.catalog-fill button:active {
    background-color: white;
    color: black;
    box-shadow: inset 0 1px 1px 1px black;
    border: none;
}
.catalog-list {
    float: right;
    margin-top: 42px;
    margin-right: 30px;
}
.catalog-list li {
    position: relative;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
}
.catalog-list a {
    display: inline-block;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 18px;
    vertical-align: top;
    text-align: center;
}
.catalog-list li:nth-child(2) a {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}
.catalog-list li:hover:nth-child(n+2):nth-child(-n+6) {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.catalog-list li:active:nth-child(n+2):nth-child(-n+6){
    background-color: rgba(255, 255, 255, 1);
}
.catalog-list a:hover {
    color: black;
}
.catalog-list li:first-child::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: -2px;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
.catalog-list li:first-child::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: -2px;
    top: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.catalog-list li:last-child::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    top: 16px;
    left: 10px;
    background-color: #ffffff;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
.catalog-list li:last-child::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 10px;
    top: 10px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.page-list {
    border-bottom: 1px solid white;
    padding-bottom: 27px;
}
.catalog-footer {
    padding-top: 5px;
}
