.crate, .crateFull, .enter, .enterBlack, .loupe, .loupeBlack, .cow, .icecream, .leaf, .thermometer, .crate-product1, .crate-product2, .heart, .hit, .facebook, .facebookwhite, .instagram, .instawhite, .twitter, .twitterwhite, .vk, .vkwhite, .pin{
	background: url(sprites.png) no-repeat;
}

.crate{
	background-position: -2px -3px ;
	width: 21px;
	height: 20px;
}

.crateFull{
	background-position: -125px -2px ;
	width: 21px;
	height: 20px;
}

.enter{
	background-position: -277px -1px ;
	width: 21px;
	height: 19px;
}

.enterBlack{
	background-position: -406px -2px ;
	width: 21px;
	height: 19px;
}

.loupe{
	background-position: -533px 0;
	width: 17px;
	height: 17px;
}

.loupeBlack{
	background-position: -599px 0;
	width: 17px;
	height: 17px;
}

.cow{
	background-position: -1px -49px ;
	width: 48px;
	height: 49px;
}

.icecream{
	background-position: -100px -50px ;
	width: 49px;
	height: 49px;
}

.leaf{
	background-position: -201px -51px ;
	width: 49px;
	height: 49px;
}

.thermometer{
	background-position: -300px -50px ;
	width: 48px;
	height: 49px;
}

.crate-product1{
	background-position: -415px -65px ;
	width: 33px;
	height: 33px;
}

.crate-product2{
	background-position: -468px -65px ;
	width: 33px;
	height: 33px;
}

.heart{
	background-position: -531px -83px ;
	width: 15px;
	height: 13px;
}

.hit{
	background-position: -578px -50px ;
	width: 61px;
	height: 61px;
}

.facebook{
	background-position: -17px -114px ;
	width: 32px;
	height: 32px;
}

.facebookwhite{
	background-position: -66px -116px ;
	width: 32px;
	height: 32px;
}

.instagram{
	background-position: -116px -117px ;
	width: 32px;
	height: 32px;
}

.instawhite{
	background-position: -167px -116px ;
	width: 32px;
	height: 32px;
}

.twitter{
	background-position: -216px -117px ;
	width: 33px;
	height: 32px;
}

.twitterwhite{
	background-position: -267px -119px ;
	width: 33px;
	height: 32px;
}

.vk{
	background-position: -317px -117px ;
	width: 32px;
	height: 32px;
}

.vkwhite{
	background-position: -368px -117px ;
	width: 32px;
	height: 32px;
}

.pin{
	background-position: -415px -120px ;
	width: 218px;
	height: 142px;
}

